<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="blephoneVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<userSettings>
    <blephoneVPN.Properties.Settings>
        <setting name="sql_ip" serializeAs="String">
            <value>121.43.183.196</value>
        </setting>
        <setting name="sql_username" serializeAs="String">
            <value>vpn</value>
        </setting>
        <setting name="sql_pwd" serializeAs="String">
            <value>vpn@162534</value>
        </setting>
        <setting name="sql_db" serializeAs="String">
            <value>vpn</value>
        </setting>
        <setting name="sql_table" serializeAs="String">
            <value>vpn_address</value>
        </setting>
        <setting name="will_close" serializeAs="String">
            <value>False</value>
        </setting>
    </blephoneVPN.Properties.Settings>
</userSettings>
</configuration>
